body {
    background-color: #ecf0f3;
}

.calculator {
    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #fff, 5px 5px 12px rgba(0, 0, 0, .16);
    /* box-shadow: 12px 12px 32px rgba(13, 39, 80, 0.25), -10px 10px 15px #fff; */
}

input {
    background-color: #ecf0f3;
    height: 50px;
    color: rgb(70, 70, 70);
    font-size: 24px;
    border-radius: 5rem;
    box-shadow: inset -5px -5px 12px #fff, inset 5px 5px 12px rgba(0, 0, 0, .16);
    /* box-shadow: 6px 6px 8px rgba(13, 39, 80, 0.25), -6px -6px 10px #fff, inset -8px -8px 12px rgba(255, 255, 255, 0.7), inset 5px 5px 8px rgba(13, 39, 80, 0.2); */
    padding-right: 15px;
}

.btn {
    background-color: #ecf0f3;
    color: rgb(70, 70, 70);
    height: 48px;
    width: 48px;
    font-size: 24px;
    box-shadow: -5px -5px 12px #fff, 5px 5px 12px rgba(0, 0, 0, .16);
    /* box-shadow: 4px 4px 8px rgba(13, 39, 80, 0.25), -4px 4px 8px #fff; */
    border-radius: 50%;
}